*{
	-webkit-transition-duration: .3s;
}
body{
  color:#c0c0c0;
  background:#1b1b2b;
  padding:80px;
  font-family: 'Oswald';
}
.btn{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 17px;
  font-size:16px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  background:#fff;
  padding:15px 20px;
}

h1{
  padding:20px; 
}
		
a{ text-decoration:none;
   color:red;
}
